.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.link {
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px 0px #0000000d;
  flex-direction: column;
  cursor: pointer;
  max-width: 256px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 12px;
}
.link__small {
  height: 100%;
  box-shadow: none;
  min-height: 0;
  border: 1px solid #e5e5ea;
}
.root .link:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.img__pA1Im {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pA1Im > picture > img {
  object-fit: cover;
}
.img__pA1Im > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__zuiK4 {
  display: block;
  position: relative;
}
.root__small:hover .freeBox__small__zuiK4B4Le {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: #ffffffcc;
}
.freeBox__vvoQa {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  padding: 24px;
}
.freeBox__vvoQa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vvoQa > :global(.__wab_flex-container) > *,
.freeBox__vvoQa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vvoQa > :global(.__wab_flex-container) > picture > img,
.freeBox__vvoQa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__small__vvoQab4Le {
  opacity: 0;
}
.root__small:hover .freeBox__small__vvoQab4Le {
  opacity: 1;
}
.freeBox__fn5Ic {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.svg__xUDoQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__siFUi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__opRpL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1AQ2X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vOcf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qx4Tt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kwjGp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__nBQaz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7VFzf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__ijRt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__byDwQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.svg__vxxkx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc00;
  min-width: 0;
  min-height: 0;
}
.freeBox__vy7On {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vy7On > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vy7On > :global(.__wab_flex-container) > *,
.freeBox__vy7On > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vy7On > :global(.__wab_flex-container) > picture > img,
.freeBox__vy7On
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5Bcas {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text___6V6Ir {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  min-width: 0;
}
.price:global(.__wab_instance) {
  position: relative;
}
.text__bEI {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text___8LZJc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__guVkG {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
