.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__mOhd4 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mOhd4 {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container432 > :global(.__wab_flex-container) > picture > img,
.container432
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container432 > :global(.__wab_flex-container) > picture > img,
  .container432
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.svg__pgB9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__tt7He {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oAgKm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wt6Kn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aFzvv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__um9I6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zQz7 {
  position: relative;
  color: #00000040;
}
.svg__kk8Q4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__y34Pd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gtGc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___53M4M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ebuB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Io7F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__x2K1C {
  position: relative;
  color: #00000040;
}
.svg__ehEJy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__pfdD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rNupG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fcUOy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u21Ct {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Ukd4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__ihgnk {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ihgnk {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container4322 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container4322 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container4322 > :global(.__wab_flex-container) > *,
.container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container4322 > :global(.__wab_flex-container) > picture > img,
.container4322
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container4322 > :global(.__wab_flex-container) > *,
  .container4322 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container4322 > :global(.__wab_flex-container) > picture > img,
  .container4322
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox___0F9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___0F9Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0F9Y > :global(.__wab_flex-container) > *,
.freeBox___0F9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0F9Y > :global(.__wab_flex-container) > picture > img,
.freeBox___0F9Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__psw0U {
  object-fit: cover;
}
.img__psw0U > picture > img {
  object-fit: cover;
}
.img__psw0U > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__w4N3Z {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__w4N3Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__w4N3Z > :global(.__wab_flex-container) > *,
.freeBox__w4N3Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w4N3Z > :global(.__wab_flex-container) > picture > img,
.freeBox__w4N3Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__tNvQe {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tNvQe > picture > img {
  object-fit: cover;
}
.img__tNvQe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fXqh {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__fXqh > picture > img {
  object-fit: cover;
}
.img__fXqh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__zy1RW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__zy1RW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zy1RW > :global(.__wab_flex-container) > *,
.freeBox__zy1RW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zy1RW > :global(.__wab_flex-container) > picture > img,
.freeBox__zy1RW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img___2Ju3C {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2Ju3C > picture > img {
  object-fit: cover;
}
.img___2Ju3C > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gdpE6 {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gdpE6 > picture > img {
  object-fit: cover;
}
.img__gdpE6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lIJdn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__lIJdn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lIJdn > :global(.__wab_flex-container) > *,
.freeBox__lIJdn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lIJdn > :global(.__wab_flex-container) > picture > img,
.freeBox__lIJdn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__cjFpV {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cjFpV > picture > img {
  object-fit: cover;
}
.img__cjFpV > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__re7Dw {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__re7Dw > picture > img {
  object-fit: cover;
}
.img__re7Dw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pd5B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__pd5B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pd5B > :global(.__wab_flex-container) > *,
.freeBox__pd5B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pd5B > :global(.__wab_flex-container) > picture > img,
.freeBox__pd5B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__uK3OB {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  position: relative;
}
.price:global(.__wab_instance) {
  position: relative;
}
.text__qADs {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__mvvrd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__qFIjL {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.freeBox__bv1QI {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bv1QI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bv1QI > :global(.__wab_flex-container) > *,
.freeBox__bv1QI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bv1QI > :global(.__wab_flex-container) > picture > img,
.freeBox__bv1QI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__zjh0T {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img__zjh0T > picture > img {
  object-fit: cover;
}
.img__zjh0T > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___1CC3M {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img___1CC3M > picture > img {
  object-fit: cover;
}
.img___1CC3M > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7Q7Qx {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img___7Q7Qx > picture > img {
  object-fit: cover;
}
.img___7Q7Qx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__d1Bji {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__d1Bji > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__d1Bji > :global(.__wab_flex-container) > *,
.freeBox__d1Bji > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d1Bji > :global(.__wab_flex-container) > picture > img,
.freeBox__d1Bji
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1DJYa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__aawzt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aawzt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__aawzt > :global(.__wab_flex-container) > *,
.freeBox__aawzt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aawzt > :global(.__wab_flex-container) > picture > img,
.freeBox__aawzt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.svg__aLgz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rer9W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8MrlR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kwWvq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d8H0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eG0Hq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__e4I2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mdKz6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jBx4R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gnLtp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q1WGq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xpJnO {
  width: auto;
  display: inline-block;
}
.svg___8BmAh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7B29W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gBTyt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s0EmK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ttUhp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q66Fk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kiHmH {
  width: auto;
  display: inline-block;
}
.svg__gcV5L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__inJqp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eCa5Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ngb9Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jBlg0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lLxuT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sThqN {
  width: auto;
  display: inline-block;
}
.svg__krKq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gqMil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hoDxu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oLs0G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ozSVt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sadV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__blwJt {
  width: auto;
  display: inline-block;
}
.svg__pzEdl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9T1Yi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__djgcm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__phdbd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xVn8V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bzyhk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__pqNTs {
  width: auto;
  display: inline-block;
}
.svg__ydItm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ldb64 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m7LMr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uO3Wc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gqXc5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tA4Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___0Mio1 {
  width: auto;
  display: inline-block;
}
.svg__lfNo9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3OnHo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vRyNn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__or4Fh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sOxXf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Vhm7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dkTwK {
  width: auto;
  display: inline-block;
}
.svg__jlNzT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4EyQs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyu8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cTuGu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__japy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nwtAb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__gb8Q1 {
  width: auto;
  display: inline-block;
}
.svg__qQG2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eGv3W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b3Zfn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__szlZu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nhiNt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__puBx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qGdNu {
  width: auto;
  display: inline-block;
}
.svg__rAs8A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oI6Al {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s7E1C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ccdEn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e5BI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3XWcU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__pzqLj {
  width: auto;
  display: inline-block;
}
.svg__qpIwc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wobPy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xbEz4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kbRah {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d255T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aGic5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__n0Mc {
  width: auto;
  display: inline-block;
}
.svg__kYCm1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zyDlI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oc45O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dJ5Og {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yOjo0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r34Zn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__yh19 {
  width: auto;
  display: inline-block;
}
.svg__z6Hy7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__x6Qq3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__x6Qq3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__x6Qq3 > :global(.__wab_flex-container) > *,
.freeBox__x6Qq3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x6Qq3 > :global(.__wab_flex-container) > picture > img,
.freeBox__x6Qq3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x6Qq3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x6Qq3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x6Qq3 > :global(.__wab_flex-container) > *,
  .freeBox__x6Qq3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x6Qq3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__x6Qq3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___0KCj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___0KCj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0KCj > :global(.__wab_flex-container) > *,
.freeBox___0KCj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0KCj > :global(.__wab_flex-container) > picture > img,
.freeBox___0KCj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2RuoQ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.button__b8VvF:global(.__wab_instance) {
  position: relative;
}
.svg__vxPkn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wId4E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mauMs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ziYjj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3M1Ml {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qLzPw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__jkh56 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jkh56 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jkh56 > :global(.__wab_flex-container) > *,
.freeBox__jkh56 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jkh56 > :global(.__wab_flex-container) > picture > img,
.freeBox__jkh56
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xiaqu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xlpLl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q5Rpp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jIuvb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qVh7Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rtjiD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fuAfo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eQHxl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j75Kz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ujUmx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hkb0L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uRnDr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__gvFoq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__eGr2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eGr2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eGr2 > :global(.__wab_flex-container) > *,
.freeBox__eGr2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eGr2 > :global(.__wab_flex-container) > picture > img,
.freeBox__eGr2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mXe7M {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.text___4AOKo {
  height: auto;
}
.separator__pkX9F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__lFtRe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lFtRe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lFtRe > :global(.__wab_flex-container) > *,
.freeBox__lFtRe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lFtRe > :global(.__wab_flex-container) > picture > img,
.freeBox__lFtRe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___077XZ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.text__wvtRk {
  height: auto;
}
.separator__inGd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__mslJo {
  height: auto;
}
.separator__fWzOi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__pej6K {
  height: auto;
}
.separator__aOuhC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__wBilY {
  height: auto;
}
.section__me1Gs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__epJhw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__xxiJh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__pd7LU:global(.__wab_instance) {
  position: relative;
}
.svg__zKhrP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tjQem {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4C8Sa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Zwub {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cZgF0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zqFwu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__dlfH3 {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__dlfH3 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__dlfH3 > :global(.__wab_flex-container) > *,
.freeBox__dlfH3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dlfH3 > :global(.__wab_flex-container) > picture > img,
.freeBox__dlfH3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.img__enQx0 {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__enQx0 > picture > img {
  object-fit: cover;
}
.img__enQx0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___2Xca7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__derfM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pmnmp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sTill {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ulTjV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lHocz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vhnc7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__l7LMe {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  text-align: left;
  min-width: 0;
}
.text___6ErN {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__ngHlc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__mRwW2 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__ls8Ot:global(.__wab_instance) {
  position: relative;
}
.img__f4GJ {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__f4GJ > picture > img {
  object-fit: cover;
}
.img__f4GJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg___8ENbZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__acR0X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nxyuD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z3E5Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2TFkm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t0VGd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__gj3Ri {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__k44Bc {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  text-align: left;
  min-width: 0;
}
.text__rSwy {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__fkTc4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__dwCgE {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard___6ZImY:global(.__wab_instance) {
  position: relative;
}
.img__gqV {
  object-fit: cover;
  max-height: 200px;
  position: relative;
}
.img__gqV > picture > img {
  object-fit: cover;
}
.img__gqV > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__otaD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yuKX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__f12Jx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kR41C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j4GqY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2QxaJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__t9HAv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__kJqkF {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  text-align: left;
  min-width: 0;
}
.text__aZ85K {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__pyY8U {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__s7VvV {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__vpTG:global(.__wab_instance) {
  position: relative;
}
.img__lvTna {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__lvTna > picture > img {
  object-fit: cover;
}
.img__lvTna > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__j4BTu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wqvry {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fBPo2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nQdf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lhUoV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jugNn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dEard {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7FrjW {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  text-align: left;
  min-width: 0;
}
.text__q56OX {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__mbPj3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__ddDg3 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__ifvA:global(.__wab_instance) {
  position: relative;
}
.img__lGuX {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__lGuX > picture > img {
  object-fit: cover;
}
.img__lGuX > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__pzzvK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Nbqb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5RvrH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__clX9S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bpyZh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___42WPw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vpkSg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3ANs4 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  text-align: left;
  min-width: 0;
}
.text___8OPj9 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__fGvF1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__xx5Ya {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.productCard__ggtHm:global(.__wab_instance) {
  position: relative;
}
.img___0JLws {
  object-fit: cover;
  max-height: 200px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___0JLws > picture > img {
  object-fit: cover;
}
.img___0JLws > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__ifRnh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__khpwi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qeE3S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k7BRe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fdR0E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Vwz2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__bihCp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qr7T9 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  min-width: 0;
}
.text__vwgLx {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.text__hOeo0 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__uNUr {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox___6LbeH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___6LbeH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6LbeH > :global(.__wab_flex-container) > *,
.freeBox___6LbeH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6LbeH > :global(.__wab_flex-container) > picture > img,
.freeBox___6LbeH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vxmJg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__aibfV {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button___1Llu:global(.__wab_instance) {
  position: relative;
}
.svg__fXwLg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6DAld {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cxhN1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kwSs1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wdLa5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__levqk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qzBZf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qzBZf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qzBZf > :global(.__wab_flex-container) > *,
.freeBox__qzBZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qzBZf > :global(.__wab_flex-container) > picture > img,
.freeBox__qzBZf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__dyDyr {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__wtb7R {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wtb7R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wtb7R > :global(.__wab_flex-container) > *,
.freeBox__wtb7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtb7R > :global(.__wab_flex-container) > picture > img,
.freeBox__wtb7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg___9Yrjp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___4NQnO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tXjf8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0TPq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wpF9K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hhQr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__mjav1:global(.__wab_instance) {
  position: relative;
}
.svg__azcza {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__tuCfY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqmHy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__je61K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1KZry {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__pHoLs {
  height: auto;
}
.svg__ntoBw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__s7Yav:global(.__wab_instance) {
  position: relative;
}
.svg__pxTDg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__c1Xx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a0OQn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2MqKd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i7YaC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oaT1J {
  height: auto;
}
.svg__ww7OA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___0I5Fd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___0I5Fd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0I5Fd > :global(.__wab_flex-container) > *,
.freeBox___0I5Fd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0I5Fd > :global(.__wab_flex-container) > picture > img,
.freeBox___0I5Fd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wh57U {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__b4ZzF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___9YbIu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___9YbIu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___9YbIu > :global(.__wab_flex-container) > *,
.freeBox___9YbIu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9YbIu > :global(.__wab_flex-container) > picture > img,
.freeBox___9YbIu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__bIRxR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hOouT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h8Qfa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tBwWm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gsqFm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x68Gr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pd1Fe:global(.__wab_instance) {
  position: relative;
}
.svg__gQbQw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__anOj4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gv8Hb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__epn3F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Nvfe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qkjri {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qazNr:global(.__wab_instance) {
  position: relative;
}
.svg__frpfs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qz84O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wFfOt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Q0Ss {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gKpf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bspF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tbM50:global(.__wab_instance) {
  position: relative;
}
.svg__z4Ze2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ngWi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4YhRh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xbYw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fQnAs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0BRjq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__bGlGy {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bGlGy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bGlGy > :global(.__wab_flex-container) > *,
.freeBox__bGlGy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bGlGy > :global(.__wab_flex-container) > picture > img,
.freeBox__bGlGy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__yd5P:global(.__wab_instance) {
  position: relative;
}
.svg___4V7XQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__inlT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bYgus {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a7LNm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__voEz0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v6ZCv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__odyWt:global(.__wab_instance) {
  position: relative;
}
.svg__lhou6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7DkKp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3OCwB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fdGGs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nDbfo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0RPFx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tVp4R:global(.__wab_instance) {
  position: relative;
}
.svg__lqJmB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gObcF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hp7Qi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8TSc6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g2Ib7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2RcH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
