.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg___5LD3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d4ZPo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___8DN9J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fs9WL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jkD6X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jhT21 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__o39Sx {
  display: block;
  position: relative;
  width: 63.994789123535156px;
  height: 64px;
  background: #ffffff33;
  flex-shrink: 0;
}
.freeBox__mZjr7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mZjr7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mZjr7 > :global(.__wab_flex-container) > *,
.freeBox__mZjr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mZjr7 > :global(.__wab_flex-container) > picture > img,
.freeBox__mZjr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__searchOpen__aAKg94HLod:global(.__wab_instance) {
  min-width: 200px;
}
.svg___3E3RH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5O6Dd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tMlkg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Hlpu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bx0Pp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___86ICl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.textbox {
  position: relative;
  min-width: 200px;
}
.textbox__searchOpen {
  line-height: 24px;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root__searchOpen .textbox__searchOpen:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.svg__ejAIl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ehGmg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iU36 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aY43W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7QGuv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vcvz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__cdzev {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__lNuTn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__tqY2F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r8Lie {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sdkPe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rcXmr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7ZCf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
