.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__xFx0F {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__xFx0F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xFx0F > :global(.__wab_flex-container) > *,
.freeBox__xFx0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xFx0F > :global(.__wab_flex-container) > picture > img,
.freeBox__xFx0F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value___04BAr:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__mN1M0 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__fsdld {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__kx0Fs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__jlKyZ:global(.__wab_instance) {
  position: relative;
}
.svg__brSy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ex9Lk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vnpeX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i3NpL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___26TTy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5NZz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__lHt9E:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__dOuhT {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__qYhMa {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__clfv1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__maCGl:global(.__wab_instance) {
  position: relative;
}
.svg__q545N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ndMCv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zBhaw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___07F7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kNZbT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jRa1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.value__tkJdy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__vv2Hq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__lV4XQ {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__cJbfo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__yDp9:global(.__wab_instance) {
  position: relative;
}
.svg__tJwHy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pqBxT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qYslV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c1JGm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ab99X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Vl1T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
