.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.container2 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 > :global(.__wab_flex-container) > *,
  .container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container2 > :global(.__wab_flex-container) > picture > img,
  .container2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__x7SvX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__x7SvX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__x7SvX > :global(.__wab_flex-container) > *,
.freeBox__x7SvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x7SvX > :global(.__wab_flex-container) > picture > img,
.freeBox__x7SvX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__filled__x7SvXMiGnm > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__bWi6S {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.link {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
}
.text___3XR27 {
  color: #666666 /* plasmic-token: xFufqh3XramY */;
  height: auto;
}
.text__rzYhp {
  position: relative;
}
.text__tEyU {
  position: relative;
}
.freeBox__jOpdx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jOpdx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jOpdx > :global(.__wab_flex-container) > *,
.freeBox__jOpdx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jOpdx > :global(.__wab_flex-container) > picture > img,
.freeBox__jOpdx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__aaNq9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__iwN6C {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__hHtbL {
  position: relative;
  text-align: center;
}
.text__filled__hHtbLMiGnm {
  text-align: left;
}
.svg__m5XcX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqAUx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8BMkf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jhmIo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m09S9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lQrHp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jK2C4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hrhnK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wNv0R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yctZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lgwtz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ypAi4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__vlGJl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__filled__vlGJlMiGnm {
  top: auto;
  left: auto;
}
.freeBox__x72Vi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__x72Vi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__x72Vi > :global(.__wab_flex-container) > *,
.freeBox__x72Vi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x72Vi > :global(.__wab_flex-container) > picture > img,
.freeBox__x72Vi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__neAhl {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__neAhl > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__neAhl > :global(.__wab_flex-container) > *,
.freeBox__neAhl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neAhl > :global(.__wab_flex-container) > picture > img,
.freeBox__neAhl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___7Co1B {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__zkP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zkP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zkP > :global(.__wab_flex-container) > *,
.freeBox__zkP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkP > :global(.__wab_flex-container) > picture > img,
.freeBox__zkP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hq7Vq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___56Dyh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox__y90Nw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetChildren {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox___3MAh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__f1VWn {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__aqYZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox___3QrW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___3Pb66 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__cXqZk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__eIb5P:global(.__wab_instance) {
  position: relative;
}
.svg__w9U9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__myLqP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0M39Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sMyqE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dq96Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__n028I {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__u1Iwz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__q8YbH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___1TkIf {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__s1Qnv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot4 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__mb0Yg:global(.__wab_instance) {
  position: relative;
}
.svg__cO97 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zykZo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___65WNn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jgvhh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uVk3S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qAe24 {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg___9YFdi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nGh6R {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nGh6R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nGh6R > :global(.__wab_flex-container) > *,
.freeBox__nGh6R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGh6R > :global(.__wab_flex-container) > picture > img,
.freeBox__nGh6R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__mf0Uz {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___5USrj {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__hFr01 {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__hFr01 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hFr01 > :global(.__wab_flex-container) > *,
.freeBox__hFr01 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hFr01 > :global(.__wab_flex-container) > picture > img,
.freeBox__hFr01
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__jDyli {
  position: relative;
  left: auto;
  top: auto;
}
.img__arWNb {
  position: relative;
}
.img__zu8Ii {
  position: relative;
}
.img__xy2Gy {
  position: relative;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) > *,
  .container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container > :global(.__wab_flex-container) > picture > img,
  .container
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__ikw4B {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__ikw4B > picture > img {
  object-fit: cover;
}
.img__ikw4B > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lVgsk {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__lVgsk > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lVgsk > :global(.__wab_flex-container) > *,
.freeBox__lVgsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lVgsk > :global(.__wab_flex-container) > picture > img,
.freeBox__lVgsk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVgsk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVgsk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lVgsk > :global(.__wab_flex-container) > *,
  .freeBox__lVgsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lVgsk > :global(.__wab_flex-container) > picture > img,
  .freeBox__lVgsk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__jcIfc {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jcIfc {
    text-align: center;
  }
}
.button___59WZ:global(.__wab_instance) {
  position: relative;
}
.svg__iZ9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9XBY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___50VaJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tN2Tq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yXiz3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zCgcl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox___6JAtI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___6JAtI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6JAtI > :global(.__wab_flex-container) > *,
.freeBox___6JAtI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6JAtI > :global(.__wab_flex-container) > picture > img,
.freeBox___6JAtI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__stxYg {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__rmD0Q {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textbox {
  line-height: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #e5e5ea;
}
.root .textbox:focus {
  box-shadow: 0px 0px 0px 3px #007aff80;
  outline: none;
}
.button__cJAqv:global(.__wab_instance) {
  position: relative;
}
.svg__yVr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xaNto {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cJga7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jYs8Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__elcqR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yCmh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__vY2Y5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vY2Y5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vY2Y5 > :global(.__wab_flex-container) > *,
.freeBox__vY2Y5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vY2Y5 > :global(.__wab_flex-container) > picture > img,
.freeBox__vY2Y5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__v2QLd {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__vBsDo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vBsDo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vBsDo > :global(.__wab_flex-container) > *,
.freeBox__vBsDo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vBsDo > :global(.__wab_flex-container) > picture > img,
.freeBox__vBsDo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__gLnQp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___5NpLg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yW5L4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dAzgF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mDgQ2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bDp3H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4OKey:global(.__wab_instance) {
  position: relative;
}
.svg___6JAcU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___7JY00 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lktIr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__myoiw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5KMsc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uZ4I {
  height: auto;
}
.svg___2A1B2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jov0B:global(.__wab_instance) {
  position: relative;
}
.svg__gy2D1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___01Oxa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ln6B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lcBzD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Bn6V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___7Fe4T {
  height: auto;
}
.svg___838Ux {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cbZwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cbZwi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cbZwi > :global(.__wab_flex-container) > *,
.freeBox__cbZwi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cbZwi > :global(.__wab_flex-container) > picture > img,
.freeBox__cbZwi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__b0JUw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__ds3Qu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__rjT6H {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__rjT6H > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rjT6H > :global(.__wab_flex-container) > *,
.freeBox__rjT6H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjT6H > :global(.__wab_flex-container) > picture > img,
.freeBox__rjT6H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg___9N9QW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d5A3C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0J5Pj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cNiDx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vvbTv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qycPh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tMVs:global(.__wab_instance) {
  position: relative;
}
.svg__mxqbF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nuGgf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nAhXx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p7My7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eg7V4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mwqd2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__obTi:global(.__wab_instance) {
  position: relative;
}
.svg__oH5Vd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zhnxl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vpoG4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5AfzY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__klBYr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rncbK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__mA6Cx:global(.__wab_instance) {
  position: relative;
}
.svg__dr4Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wypUr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__potya {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eiCpu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bblew {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rHg10 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__jbMdm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__jbMdm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jbMdm > :global(.__wab_flex-container) > *,
.freeBox__jbMdm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbMdm > :global(.__wab_flex-container) > picture > img,
.freeBox__jbMdm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__bjyNy:global(.__wab_instance) {
  position: relative;
}
.svg__hh3SR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j1Xsz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5BwyE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Xcgg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fCcl2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jCDak {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__maDbR:global(.__wab_instance) {
  position: relative;
}
.svg__nvcXq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g6FI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ddNXh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lg5Gb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bl3O6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y612K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1JJio:global(.__wab_instance) {
  position: relative;
}
.svg__rcg8K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__os76C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iz39 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__giVut {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__elZr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dGuwi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
